{% extends "index.html"%}
<!-- 
nota_liq varchar(15),
  
      
    irrf money,
          -->
{% block cadastrar_trades%}
                 
  
<div class="container-fluid"> 
<form action="{{url_for('cadastrar')}}" method="POST">
   

 <div class="form-row">

        <div class="form-group col-md-1">
          <label for="inputAtivo">Nota</label>
          <input type="number" class="form-control" name="inputNota" id="inputNota">
        </div>


        <div class="form-group col-md-2">
          <label for="inputAtivo">Ativo</label>
          <input type="text" class="form-control" name="inputAtivo" id="inputAtivo">
        </div>

        <div class="form-group col-md-2">
          <label for="inputQtd">Qtd</label>
          <input type="number" class="form-control" name="inputQtd" id="inputQtd" >   
        </div>


        <div class="form-group col-md-2">
          <label for="inputData">Data</label>
          <div class="input-group date" data-date-format="dd/mm/yyyy">
            <input type='text' class="form-control" placeholder="dd/mm/yyyy" name="inputData" id='inputData'/>
            <div class="input-group-addon">
              <span></span>
            </div>
                      
        </div>
     </div>

       <div class="form-group col-md-2">
         <label for="inputModalidade">Modalidade</label>
         <select name="inputModalidade" id="inputModalidade" class="form-control">
            <option selected>Choose...</option>
            <option value="swingTrade">SwingTrade</option>
            <option value="dayTrade">DayTrade</option>
          </select>
       </div> 


      <div class="form-group col-md-1">
         <label for="inputMercado">Mercado</label>
         <select name="inputMercado" id="inputMercado" class="form-control">
            <option selected value="acoes">Ações</option>
            <option value="indice">Indices</option>
          </select>
       </div>

      <div class="form-group col-md-1">
         <label for="inputTipoOp">Tipo</label>
         <select name="inputTipoOp" id="inputTipoOp" class="form-control">
            <option value="TipoOpCompra">Compra</option>
            <option value="TipoOpVenda">Venda</option>
          </select>
       </div> 
</div>


 <div class="form-row">

        <div class="form-group col-md-1">
          <label for="inputPreco">Preço</label>
          <input type="number" class="form-control" name="inputPreco" id="inputPreco">
        </div>

        <div class="form-group col-md-2">
          <label for="inputCorretagem">Corretagem</label>
          <input type="number" class="form-control" name="inputCorretagem" id="inputCorretagem">   
        </div>
        <div class="form-group col-md-2">
          <label for="inputIss">ISS</label>
          <input type="number" class="form-control" name="inputIss" id="inputIss">
        </div>

       <div class="form-group col-md-2">
         <label for="inputEmolumentos">Emolumentos</label>
         <input type="number" class="form-control" name="inputEmolumentos" id="inputEmolumentos">
       </div> 

        <div class="form-group col-md-2">
         <label for="inputLiquidacao">Liquidação</label>
         <input type="number" class="form-control" name="inputLiquidacao" id="inputLiquidacao">
       </div> 

       <div class="form-group col-md-1">
          <label for="inputIRRF">IRRF</label>
          <input type="number" class="form-control" name="inputIRRF" id="inputIRRF">
        </div>

       <div class="form-group col-md-1">
         <label for="inputCorretora">Corretora</label>
         <select name="inputCorretora" id="inputCorretora" class="form-control">
            <option selected value="Rico">Rico</option>
            <option value="Clear">Clear</option>
          </select>
       </div> 

      
</div>

        
  


<button type="submit" class="btn btn-primary">Cadastrar</button>
<button type="submit" class="btn btn-danger">Limpar</button>
 
 
</form>

</div>
{% endblock%}