{% extends "index.html"%}

{% block cadastrar_trades%}
                 
<div class="container-fluid"> 
<form action="{{url_for('cadastrar')}}" method="POST">
   

 <div class="form-row">

        <div class="form-group col-md-1">
          <label for="nota_liq">Nota</label>
          <input type="number" class="form-control" name="nota_liq" id="nota_liq">
        </div>


        <div class="form-group col-md-2">
          <label for="ativo">Ativo</label>
          <input type="text" class="form-control" name="ativo" id="ativo" required>
        </div>

        <div class="form-group col-md-2">
          <label for="qtd">Qtd</label>
          <input type="number" class="form-control" name="qtd" id="qtd" required>   
        </div>


        <div class="form-group col-md-2">
          <label for="data">Data</label>
          <div class="input-group date" data-date-format="dd/mm/yyyy">
            <input type='text' class="form-control" placeholder="dd/mm/yyyy" name="data" id='data' required>
            <div class="input-group-addon">
              <span></span>
            </div>
                      
        </div>
     </div>

       <div class="form-group col-md-2">
         <label for="modalidade">Modalidade</label>
         <select name="modalidade" id="modalidade" class="form-control">
            <option selected>Choose...</option>
            <option value="swingTrade">SwingTrade</option>
            <option value="dayTrade">DayTrade</option>
          </select>
       </div> 


      <div class="form-group col-md-1">
         <label for="mercado">Mercado</label>
         <select name="mercado" id="mercado" class="form-control">
            <option selected value="acoes">Ações</option>
            <option value="indice">Indices</option>
          </select>
       </div>

      <div class="form-group col-md-1">
         <label for="tipo_op">Tipo</label>
         <select name="tipo_op" id="tipo_op" class="form-control">
            <option selected value="COMPRA">Compra</option>
            <option value="VENDA">Venda</option>
          </select>
       </div> 
</div>


 <div class="form-row">

        <div class="form-group col-md-1">
          <label for="preco_unit">Preço</label>
          <input type="number" class="form-control" step=0.01 name="preco_unit" id="preco_unit" required>
        </div>

        <div class="form-group col-md-2">
          <label for="corretagem">Corretagem</label>
          <input type="number" class="form-control" step=0.01 name="corretagem" id="corretagem" required>   
        </div>
        <div class="form-group col-md-2">
          <label for="iss">ISS</label>
          <input type="number" class="form-control" step=0.01 name="iss" id="iss">
        </div>

       <div class="form-group col-md-2">
         <label for="emolumentos">Emolumentos</label>
         <input type="number" class="form-control" step=0.01 name="emolumentos" id="emolumentos">
       </div> 

        <div class="form-group col-md-2">
         <label for="liquidacao">Liquidação</label>
         <input type="number" class="form-control" step=0.01 name="liquidacao" id="liquidacao">
       </div> 

       <div class="form-group col-md-1">
          <label for="irrf">IRRF</label>
          <input type="number" class="form-control" step=0.01 name="irrf" id="irrf">
        </div>

       <div class="form-group col-md-1">
         <label for="corretora">Corretora</label>
         <select name="corretora" id="corretora" class="form-control">
            <option selected value="Rico">Rico</option>
            <option value="Clear">Clear</option>
          </select>
       </div> 
    
</div>


<button type="submit" class="btn btn-primary">Cadastrar</button>
<button type="submit" class="btn btn-danger">Limpar</button>
 
 
</form>

</div>
{% endblock%}